<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>all users</title>
  </head>
  <body>
    <header>
      <h1>all users</h1>
    </header>

    <main>
      <% users.forEach(user=>{%>
      <div class="container">
        <h2>
          <a href="/user/<%= user.id %>"> name:<%= user.name %></a>
        </h2>
      </div>
      <%})%>
    </main>
  </body>
</html>
